html{
	height: 100%;
}

body{
	background-color: maroon;
	font-family: Ramabhadra, Arial, sans-serif;
	margin: 0;
	height: 100%;
}

#wrapper{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	/**min-width: 1200px;
	max-width: 1480px; **/
	min-height: 100%;
}

header{
	height: 125px;
	padding-top: 10px;
	background-color: rgb(251, 204, 158);
}

.headtitle{
	font-family: Playball;
	font-size: 260%;
}

.subtitle{
	font-size: small;
}

nav ul{
	padding: 0;
	margin: 0;
}

nav li{
	display: inline;
	padding: 0px 30px;
}

a{
	text-decoration: none;
}

a:link, a:visited{
    color: maroon;
}

.titlelink a{
	color: black;
}

a:hover, a:active{
	font-weight: bold;
}
	
main{
	overflow: auto;
	padding: 15px 5px;
	padding-bottom: 85px; /* 70 + 15 */
}

footer{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	min-width: 1200px;
	max-width: 1480px;
	
	background-color: rgb(251, 204, 158);
	font-size: 75%;
	line-height: 140%;
	position: relative;
	margin-top: -70px;
	height: 70px;
	clear: both;
	display: flex;
	justify-content: space-between;
}

.center{
	text-align: center;
}

.columns-around{
	display: flex;
	justify-content: space-around;
}

.columns-between{
	display: flex;
	justify-content: space-between;
}

.schedule{
	padding: 0px 5px;
	border-left: 3px solid maroon;
	border-radius: 5px;
	height: 350px;
}

button{
	border: none;
	cursor: pointer;
	padding: 15px;
}

#row1{
	height: 350px;
	padding: 10px 10px;
}

.row{
	background-color: silver;
	padding: 10px 10px;
}

.space{
	margin: 0px 25px;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.clear{
	clear: both;
}
